{% extends 'blog/base.html' %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <img src="{{post.author.img_url}}" class="float-right img-responsive detail-image"
                alt="image of the author">
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.title}}</h2>
                <p class="blog-post-meta">{{post.created_date}} by <a href="#">{{post.author.name}}</a></p>
                <p>{{post.description}}</p>
            </div><!-- /.blog-post -->
            <a class="btn btn-primary" href="{% url 'blog:editpost' post.id %}">Edit Post</a>
        </div>
    </div><!-- /.row -->
</main>
{% endblock %}
{% block about_footer %}
<div class="container">
    <h4>About the author</h4>
    <p><strong>{{post.author}}</strong>: {{post.author.bio}}</p>
</div>
{% endblock %}