<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Dundie | Paper for your thoughts?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'blog:index' %}">The Dundie</a>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blog:newpost' %}">Create New Post</a>
            </li>
          </ul>
        </div>
      </nav>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="container">
            <h1 class="display-3">The Dundie</h1>
            <p>A paper for your thoughts?</p>
            </p>
        </div>
    </div>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8 blog-main">
                <img src="{{post.author.img_url}}"
                    class="float-right img-responsive detail-image" alt="image of the author">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{post.title}}</h2>
                    <p class="blog-post-meta">{{post.created_date}} by <a href="#">{{post.author.name}}</a></p>
                    <p>{{post.description}}</p>
                </div><!-- /.blog-post -->
                <a class="btn btn-primary" href="{% url 'blog:editpost' post.id %}">Edit Post</a>
            </div>
        </div><!-- /.row -->
    </main>
    <footer>
        <hr>
        <div class="container">
            <h4>About the author</h4>
            <p><strong>{{post.author}}</strong>: {{post.author.bio}}</p>
        </div>
        <div class="container">
            <p class="footer-text">Take-home test for SmallCloud Technologies completed by <a
                    href="https://twitter.com/nickkomarnicki">@nickkomarnicki</a>.</p>
            <p>
                <a class="home-button" href="{% url 'blog:index' %}">Home</a>
            </p>
        </div>
        <div class="footer-container">
        </div>
    </footer>
</body>

</html>