<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Dundie | Paper for your thoughts?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>

<body>
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="container">
            <h1 class="display-3">The Dundie</h1>
            <p>A paper for your thoughts?</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Add New Post »</a></p>
        </div>
    </div>
    <div class="container">
        <h2>Latest Posts...</h2>
        {% if post_list %}
        <div>
            {% for post in post_list %}
            <div class="row mb-2">
                <div class="col-md-8">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="card col p-4 d-flex flex-column position-static">
                            <img src="{{ post.author.img_url }}" class="card-img-top" alt="image of the author">
                            <strong class="d-inline-block mb-2 text-primary">{{post.author.name}}</strong>
                            <h3 class="mb-0">{{post.title}}</h3>
                            <div class="mb-1 text-muted">{{post.created_date}}</div>
                            <p class="card-text mb-auto">{{post.description|truncatewords:18}}</p>
                            <a href="{% url 'blog:detail' post.id %}" class="stretched-link">Continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No posts are available.</p>
        {% endif %}

    </div>
    <footer>
        <hr>
        <div class="container">
            <p>Take-home test for SmallCloud Technologies completed by <a
                    href="https://twitter.com/nickkomarnicki">@nickkomarnicki</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    </footer>
</body>

</html>